* {
    font-family: helvetica;
}

#number-display {
    padding:30px;
    text-align: center;
    font-size: 64px;
    margin: 50px auto 10px auto;
}

#counter {
    display: flex;
    justify-content: center;
}

button {
    color: white;
    font-size: 40px;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    background-color: #A9A9A9;
}

button:hover {
    color:#A9A9A9;
    background-color: white;
}

button:focus {
    outline: 0;
}

input {
    margin: 0 20px;
    text-align: center;
    font-size: 40px;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    border: 4px solid #A9A9A9;
}

input:focus {
    outline: 0;
}